name: MacOS

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:

jobs:
  raku:
    strategy:
      matrix:
        os:
          - macos-latest
        raku-version:
          - 'latest'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: Raku/setup-raku@v1
        with:
          raku-version: ${{ matrix.raku-version }}
      - name: Install Dependencies
        run: |
          # note packages fontconfig, freetype, and harfbuzz 
          #   are already loaded by default
          brew install --cask font-freefont 
          zef install MacOS::NativeLib
          zef install --/test --deps-only .
      - name: Install
        run: zef install --debug .
